extends base
block content
    body
        h1.headerBlue.heading-primary   
            span.heading-primary--main#headName COMPUTER SOCIETY OF INDIA
        .aboutus
            .meri-heading
                h2.heading-secondary
                    | History
            
            p.paragraph
                |Computer Society of India (CSI) is the first and largest body of computer professionals in India. It was started on 6 March 1965 by a 
                |few computer professionals and has now grown to be the national body representing computer professionals. Today the CSI takes pride in 
                |being the largest and most professionally managed association of and for IT professionals in India. Being closely associated with 
                |Students the Society has developed a well-established net-work of “Student Branches” all across the country. CSI has 488 student branches
                |with more than 90,000 Student Volunteers across the nation.

            .meri-heading
                h2.heading-secondary
                    | VISION
            
            p.paragraph
                |The Computer Society of India is a non-profit professional society and meet to exchange views and information learn and share ideas. 
                |The wide spectrum of members is committed to the advancement of theory and practice of Computer Engineering and Technology Systems, 
                |Science and Engineering, Information Processing and related Arts and Sciences.
                |Inspire, nurture and assist students to integrate into the IT community.
                |Percolate benefits of IT advancement to all sections of Indian Society.
                |The Computer Society of India is a non-profit professional society and meet to exchange views and information learn and share ideas.
                |The wide spectrum of members is committed to the advancement of theory and practice of Computer Engineering and Technology Systems, 
                |Science and Engineering, Information Processing and related Arts and Sciences.
            
            .meri-heading
                h2.heading-secondary
                    | MISSION
            
            p.paragraph
                
                |- Facilitate Research, Knowledge Sharing, Learning and Career Enhancement among all categories of IT professionals.
                br
                |- Inspire, nurture and assist students to integrate into the IT community.
                br
                |- Percolate benefits of IT advancement to all sections of Indian Society.
                