extends base
block content
    body
        h1.headerBlue.heading-primary   
            span.heading-primary--main#headName COMPUTER SOCIETY OF INDIA
        .aboutus
            .meri-heading
                h2.heading-secondary
                    | History
            
            p.paragraph
                |Computer Society of India (CSI) is the first and largest body of computer professionals in India. It was started on 6 March 1965 by a 
                |few computer professionals and has now grown to be the national body representing computer professionals. Today the CSI takes pride in 
                |being the largest and most professionally managed association of and for IT professionals in India. Being closely associated with 
                |Students the Society has developed a well-established net-work of “Student Branches” all across the country. CSI has 488 student branches
                |with more than 90,000 Student Volunteers across the nation.

            .meri-heading
                h2.heading-secondary
                    | VISION
            
            p.paragraph
                |The Computer Society of India is a non-profit professional society and meet to exchange views and information learn and share ideas. 
                |The wide spectrum of members is committed to the advancement of theory and practice of Computer Engineering and Technology Systems, 
                |Science and Engineering, Information Processing and related Arts and Sciences.
                |Inspire, nurture and assist students to integrate into the IT community.
                |Percolate benefits of IT advancement to all sections of Indian Society.
                |The Computer Society of India is a non-profit professional society and meet to exchange views and information learn and share ideas.
                |The wide spectrum of members is committed to the advancement of theory and practice of Computer Engineering and Technology Systems, 
                |Science and Engineering, Information Processing and related Arts and Sciences.
            
            .meri-heading
                h2.heading-secondary
                    | MISSION
            
            p.paragraph
                
                |- Facilitate Research, Knowledge Sharing, Learning and Career Enhancement among all categories of IT professionals.
                br
                |- Inspire, nurture and assist students to integrate into the IT community.
                br
                |- Percolate benefits of IT advancement to all sections of Indian Society.

    #popup-2.popup-2
      .popup-2__content
        .popup-2__left
          img.popup-2__img(src='img/devansh.jpeg' alt='Tour photo')
        .popup-2__right
          a.popup-2__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Devansh Bhushan
          h3.heading-tertiary.u-margin-bottom-small
            | Back-End Developer &ndash; Details about me
          p.popup-2__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 8556040271
            br
            |             Email_id &thicksim; devanshbhushan79@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/devansh-bhushan-679013169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/devanshbhushan1002/?hl=en' target="_blank") Instagram!
    
    #popup-1.popup-1
      .popup-1__content
        .popup-1__left
          img.popup-1__img(src='img/saini.jpeg' alt='Tour photo')
        .popup-1__right
          a.popup-1__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Abhishek Saini
          h3.heading-tertiary.u-margin-bottom-small
            | Front-End Developer &ndash; Details about me
          p.popup-1__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 9780072442
            br
            |             Email_id &thicksim; abisheksainisaini56@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/abhishek-saini-6172b3169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/saini9946/?hl=en' target="_blank") Instagram!

                    