extends base
block content
    
    h1.headerBlue.heading-primary
        span.heading-primary--main#headName COMPUTER SOCIETY OF INDIA

        
    .aboutus
        .meri-heading
            h2.heading-secondary
                | How to Join
        
        p.paragraph
            |ELIGIBILTY-
            br
            |1) Aspirant should be an enrolled student of GNDEC, Ludhiana.\
            br
            |2) Aspirant should be in his/her 1st or 2nd year of Btech. Degree (i.e 1st or 3rd semester).
            br
            |3) Aspirant should not have any physical disability or deformities.

        .meri-heading
            h2.heading-secondary
                | Selection Procedure
        
        p.paragraph
            |1) An orientation programme is held at the start of semester , apprising students about the NCC and it’s activities.
            br
            |2) It is compulsory for aspirants to attend the above programme.
            br
            |3) Selection is usually done in first week of august under the supervision of 3 PB NCC Ludhiana.
            br
            |4) Physical test- A physical test is conducted, which involves a 400m sprint and pushups and chin-ups.
            br
            |5) Candidates are divided into smaller groups and performers from each group are selected.
            br
            |6) Candidates possessing A or B certificates already, are given priority among other cadets.
            br
            |7) Medical of selected cadets is conducted in which they are inspected of any sort of deformity in their body.
    #popup-2.popup-2
      .popup-2__content
        .popup-2__left
          img.popup-2__img(src='img/devansh.jpeg' alt='Tour photo')
        .popup-2__right
          a.popup-2__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Devansh Bhushan
          h3.heading-tertiary.u-margin-bottom-small
            | Back-End Developer &ndash; Details about me
          p.popup-2__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 8556040271
            br
            |             Email_id &thicksim; devanshbhushan79@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/devansh-bhushan-679013169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/devanshbhushan1002/?hl=en' target="_blank") Instagram!
    
    #popup-1.popup-1
      .popup-1__content
        .popup-1__left
          img.popup-1__img(src='img/saini.jpeg' alt='Tour photo')
        .popup-1__right
          a.popup-1__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Abhishek Saini
          h3.heading-tertiary.u-margin-bottom-small
            | Front-End Developer &ndash; Details about me
          p.popup-1__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 9780072442
            br
            |             Email_id &thicksim; abisheksainisaini56@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/abhishek-saini-6172b3169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/saini9946/?hl=en' target="_blank") Instagram!

    