extends base
block content
    body
        h1.headerBlue.heading-primary   
            span.heading-primary--main#headName CSI-MOTIVATION
        .aboutus
            .meri-heading
                h2.heading-secondary
                    | Introduction:-
            
            p.paragraph
                |This section is made specially for the freshers and 2nd year students of GNE 
                |who are still exploring with what they want to do exactly and what they want to become.We just want to give you
                |some insights of how you should start working and preparing for a set goal.

            .meri-heading
                h2.heading-secondary
                    | 1) How to Decide :-
            
            p.paragraph
                |There are a couple of ways in which you can start working for your fixed goal.We recommend you to start working as soon as possible for best results.College life must be made a mixture of
                |fun with friends and achieving your goals.Divide your time accordingly and act similarly.
                |If you are willing to learn something,say a new technology,android development,game development,web development or anything else.Go for udemy courses.There are many available websites(1337x,
                |the pirate bay etc.) through which you can download udemy courses for free through torrent.If you are willing to buy them online,that's also great.Proper full length courses are always a
                |better option than random youtube videos for a better understanding and practice.
                |If you are willing to prepare for government exams or any higher competitive exams,start to explore more about it through internet and learn more about it.Then start by exploring the syllabus,
                |and devote a part of the day for its preparation.Many youtube channels and websites are available for preparing for any exam.Remember you will always stay a step ahead of others on the exam day
                |if you start your preparation today.
    
            .meri-heading
                h2.heading-secondary
                    | 3) Try to avoid this:-
            
            p.paragraph
                
                |- First of all switching your goal every now and then is something that should be avoided.Instead of being carried away by something every other day,devote some days to explore all the options
                |and decide the final goal and discuss through it with your family and mentors.
                br
                |-  Don't put your college grades on stake.Suppose you are achieving something that doesn't match with your college syllabus,that doesn't mean you start ignoring your college classes and 
                |subjects.Give appropriate time to preparation of college syllabus and assigments.For example, a student who aspires to be an entrepreneur shouldn't put his college studies aside and invest all
                |his time in his/her interest.Risks are meant to be taken only when you feel sure of the hard work you have done for months and years and you feel sure to be successful,not when yu have just
                |started,always remember that.
                br
                |- Don't feel pressurized by your own goal.
            
            .meri-heading
                h2.heading-secondary
                    | 4) Value time:-
            
            p.paragraph
                |Time is the most precious asset one can have.Either you have realised it already or you will realise it very soon.Do not waste your precious time.The time you are wasting today will be used
                |by you to regret in the future.Value your time and work accordingly.


    #popup-2.popup-2
      .popup-2__content
        .popup-2__left
          img.popup-2__img(src='img/devansh.jpeg' alt='Tour photo')
        .popup-2__right
          a.popup-2__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Devansh Bhushan
          h3.heading-tertiary.u-margin-bottom-small
            | Back-End Developer &ndash; Details about me
          p.popup-2__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 8556040271
            br
            |             Email_id &thicksim; devanshbhushan79@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/devansh-bhushan-679013169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/devanshbhushan1002/?hl=en' target="_blank") Instagram!
    
    #popup-1.popup-1
      .popup-1__content
        .popup-1__left
          img.popup-1__img(src='img/saini.jpeg' alt='Tour photo')
        .popup-1__right
          a.popup-1__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Abhishek Saini
          h3.heading-tertiary.u-margin-bottom-small
            | Front-End Developer &ndash; Details about me
          p.popup-1__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 9780072442
            br
            |             Email_id &thicksim; abisheksainisaini56@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/abhishek-saini-6172b3169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/saini9946/?hl=en' target="_blank") Instagram!

                    