extends base
block content
    h1.headerBlue.heading-primary   
            span.heading-primary--main#headName COMPUTER SOCIETY OF INDIA
    section.section-about
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary
          | Exciting Tour of csi gndec
      .row
        .col-1-of-2
          h3.heading-tertiary.u-margin-bottom-small Exciting Events conducted time to time
          p.paragraph
            | We,at CSI try to conduct as many exciting events as we can to bring knowledge to you in an exciting manner.
            | Events are conducted under guidance of qualified judges and result are decided without being biased.
          h3.heading-tertiary.u-margin-bottom-small Indirect guide to develop your interests
          p.paragraph
            | Participating in events will let you know about different fields and eventually help you decide your stream in the future. 
          a.btn-text(href='#') Learn more &rarr;
        .col-1-of-2
          .composition
            img.composition__photo.composition__photo--p1(srcset='img/p1.jpg 300w, img/p1.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px' alt='Photo 1' src='img/p1.jpg')
            img.composition__photo.composition__photo--p2(srcset='img/p2.jpg 300w, img/p2.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px' alt='Photo 2' src='img/p2.jpg')
            img.composition__photo.composition__photo--p3(srcset='img/p3.jpg 300w, img/p3.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px' alt='Photo 3' src='img/p3.jpg')
    #popup-2.popup-2
      .popup-2__content
        .popup-2__left
          img.popup-2__img(src='img/devansh.jpeg' alt='Tour photo')
        .popup-2__right
          a.popup-2__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Devansh Bhushan
          h3.heading-tertiary.u-margin-bottom-small
            | Back-End Developer &ndash; Details about me
          p.popup-2__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 8556040271
            br
            |             Email_id &thicksim; devanshbhushan79@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/devansh-bhushan-679013169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/devanshbhushan1002/?hl=en' target="_blank") Instagram!
    
    #popup-1.popup-1
      .popup-1__content
        .popup-1__left
          img.popup-1__img(src='img/saini.jpeg' alt='Tour photo')
        .popup-1__right
          a.popup-1__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Abhishek Saini
          h3.heading-tertiary.u-margin-bottom-small
            | Front-End Developer &ndash; Details about me
          p.popup-1__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 9780072442
            br
            |             Email_id &thicksim; abisheksainisaini56@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/abhishek-saini-6172b3169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/saini9946/?hl=en' target="_blank") Instagram!

    